<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Name or New Event</ion-title>
    <ion-button expand="full" *ngIf="data.id" fill="clear" slot="end" color="danger">Delete</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Details</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>
            <ion-select label="Type" placeholder="Event Type">
              <ion-select-option value="party">Party</ion-select-option>
              <ion-select-option value="sport">Sporting Event</ion-select-option>
              <ion-select-option value="dining">Restuarant Reservation</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-input label="Name" placeholder="Enter name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Location" placeholder="Enter Address"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Date" placeholder="Enter date"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Description" placeholder="Enter here"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Cost" type="number" placeholder="Enter here"></ion-input>
          </ion-item>
          <ion-item>
            <ion-checkbox>Ticket Required</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-input label="Website" type="url" placeholder="domain.com"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Phone" type="tel" placeholder="(XXX)-XXX-XXXX"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Email" type="email" placeholder="email@domain.com"></ion-input>
          </ion-item>
          <ion-item>
            <ion-checkbox>Public</ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col>
              
            </ion-col>
            <ion-col>
              <ion-button shape="round" fill="outline" color="medium" expand="block" (click)="goBack()">Cancel</ion-button>
            </ion-col>
            <ion-col>
              <ion-button shape="round" *ngIf="!data.id" fill="outline" expand="block" (click)="this.data={id:1};">Save</ion-button>
              <ion-button shape="round" *ngIf="data.id" fill="outline" expand="block">Update</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Guests</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>  
            <ion-avatar aria-hidden="true" slot="start">
              <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Guest Name</ion-label>
            <ion-note slot="end">
              RSVP
            </ion-note>
          </ion-item>
          <ion-item button lines="none" (click)="goToPage('search/1')">
            <ion-label color="primary">
              Invite
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-grid *ngIf="data.id">
          <ion-row>
            <ion-col>

            </ion-col>
            <ion-col>
              
            </ion-col>
            <ion-col>
              <ion-button shape="round" fill="outline" expand="block" value="seond">Next</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion value="announcements">
      <ion-item slot="header" color="light">
        <ion-label>Announcements</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>
            Announcement
          </ion-item>
        </ion-list>
        <ion-button fill="clear">
          New Announcement
        </ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Managed Services</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item-divider>
            Type
          </ion-item-divider>
          <ion-item>
            <ion-label button >
              Item
            </ion-label>
            <ion-note slot="end">
              $$
            </ion-note>
          </ion-item>
        </ion-list>
        <ion-button fill="clear">
          Add New
        </ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="forth">
      <ion-item slot="header" color="light">
        <ion-label>Costs</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-avatar aria-hidden="true" slot="start">
                <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>Name</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                <ion-item>
                  <ion-label>
                    Item
                  </ion-label>
                  <ion-note slot="end">
                    $XX
                  </ion-note>
                </ion-item>
              </ion-list>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
