<ion-content class="background" [fullscreen]="true">

  <!-- <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button shape="round" expand="block" (click)="logIn()">Login</ion-button>
          <ion-button shape="round" expand="block" (click)="createAccount()">New Account</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

  <div>
    <!-- <p>Wander far, find yourself.Experience the world. Awaken your soul.</p> -->
    <p class="title">ESCAPE THE ORDINARY.<br>THE JOURNEY STARTS WITH A TAP.</p>
  </div>

  <div class="container">
    <ion-button (click)="logIn()">Login</ion-button>
    <ion-button (click)="createAccount()">New Account</ion-button>

    <ion-button color="light" (click)="signIn()"> 
      <ion-icon src="../../assets/icon/google.svg"> </ion-icon>
        <ion-text>
           Login with Google 
        </ion-text>
    </ion-button>
  </div> 
</ion-content>
